@import '@radix-ui/themes/styles.css';

/**
 * Radix UI: https://www.radix-ui.com/
 * Radix Icons: https://www.radix-ui.com/icons
 * Custom fonts from https://fonts.google.com/
 */
@font-face {
  font-family: 'KanitRegular';
  src: url('/fonts/Kanit/Kanit-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'PlaywriteGBS';
  src: url('/fonts/Playwrite_GB_S/PlaywriteGBS-VariableFont_wght.ttf')
    format('truetype');
}
@font-face {
  font-family: 'RubikWetPaint';
  src: url('/fonts/Rubik_Wet_Paint/RubikWetPaint-Regular.ttf')
    format('truetype');
}
@font-face {
  font-family: 'VT323';
  src: url('/fonts/VT323/VT323-Regular.ttf') format('truetype');
}

/** Feed custom fonts into Radix */
.radix-themes {
  --default-font-family: VT323, PlaywriteGBS, RubikWetPaint, KanitRegular,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/** Animations! */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.welcomeHeader {
  opacity: 0;
  animation: fadeIn 1s linear 1s;
  animation-fill-mode: forwards;
}

.welcomeInput {
  opacity: 0;
  animation: fadeIn 1s linear 2s;
  animation-fill-mode: forwards;
}

.welcomeGuestIdentified {
  opacity: 1;
  animation: fadeOut 500ms linear 250ms;
  animation-fill-mode: forwards;
}
